@import url("https://api.disstreamchat.com/fonts");
body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: Poppins;
    color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-contextmenu{
    background: #515151;
}
.react-contextmenu-item{
    padding: .25rem .5rem;
    cursor: pointer;
    color: black;
}
