@import url("https://api.disstreamchat.com/fonts");
body {
    margin: 0;
    padding: 0;
    background: black;
font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
